* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
  }
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(../images/contact.png);
    background-position: center;
    background-size: cover;
  }
  .navbar {
    font-size: larger;
    height: 30px;
    width: 95%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-left: 2%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  .navbar ul li a:hover {
    color: #009688;
  }
  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c0808;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
  }
  .container .contact-info {
    color: #fff;
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  .container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-left: 10%;
  }
  .container .contact-info .box .icon {
    color: #009688;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container .contact-info .box .text {
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
  }
  .container .contact-info .box .text h3 {
    font-weight: 500;
    color: #fff;
  }
  .container .contact-info .box .text p {
    color: rgb(137, 137, 137);
  }
  .contactForm {
    margin-top: 15px;
    width: 30%;
    height: 40%;
    padding: 40px;
    background-color: #d4d4d4;
    border-radius: 25px;
  }
  .contactForm h3 {
    font-size: 30px;
    color: #009688;
    font-family: 500;
    margin-bottom: 25px;
  }
  .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #009688;
    outline: none;
    resize: none;
    background-color: transparent;
  }
  
  .contactForm .inputBox span {
    position: absolute;
    left: -10px;
    padding: 7px 0;
    font-size: 16px;
    margin: 20px 0;
    margin-left: 10px;
    pointer-events: none;
    transition: 0.5s;
    color: #757575;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span {
    color: #353535;
    font-size: 15px;
    transform: translateY(-30px);
  }
  .contactForm .inputBox button[type="submit"] {
    width: 100px;
    background-color: #009688;
    border-radius: 25px;
    border: none;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    margin-left: 35%;
  }
  .contactForm .inputBox button[type="submit"]:active {
    transform: scale(0.95);
    transition: 0.8s;
  }
  .button {
    border: none;
    width: 50%;
    outline: none;
    height: 45px;
    background-color: #017bc0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }